@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro'), url('http://fluxdb.fluxusproject.org/fonts/DINPro_Regular.otf') format('opentype');
}

html, body {color: #193440; background-color: #aa9; }
.page-header {color: white; background: #211; margin:0;}

h1,h1.app-name, h2.heading {
	 font-family: 'DINPro', arial, serif;
	 font-weight: normal;
}

h1 {
	 letter-spacing: -2px;
	 margin-top: 5px;
}

h1.app-name {
	 letter-spacing: -4px;
}

.account-nav {
	float:right;
	margin: 3px 10px 0 0;
	font-size: 11px;
}
.account-nav li {
	float: left; 
	margin-left: 0; padding-left: 15px; 
	color: #ddd;
	list-style: none;
}
.account-nav a {font-weight: normal;}
.account-nav a:hover {border-bottom: 1px dotted #ddd;}

ul.main-nav li a {
	font-size:16pt;
}

h1.app-name {
		font-size:45pt;
}

div.card div.header h3.heading{
	font-size:16pt;
	font-weight:bold;
}

div.card div.body {
	font-size:11pt;
	margin-top:15px;
	font-weight:normal;
}

div.card {
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		background-color: #f5f5ef;
		border: 1px solid #eeb;
}

.flash {
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
}

.login-page {background:transparent;}

.login-page div.header {
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-khtml-border-radius: 10px 10px 0px 0px;
}

.login-page div.section {
		border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
		-khtml-border-radius: 0px 0px 10px 10px;
}

.card h3 {
		margin-top: 0px;
}

.card a {
		background: transparent;
}

body {
	width: 1020px;  
	margin: 0 auto 0 auto;
		font: .9em Helvetica, Arial, sans-serif;
		color: #444;
		background: #E5E5E5;
}

.content-body {
		padding: 5px;
}

.section.with-flash {
	 padding-top: 0px;
}


.content-header {
	margin-bottom: 0em;
}

dl {
	margin: 0 1em 0 1em;
}

dd {
	margin: 0.5em 2em 0.5em 2em;
}
dt {
	margin-top: 0.5em;
	font-weight: bold;
}

.smallprint {
	font-size: 9pt;
}

select.library-package {
	font-size: 22pt;
}

a {
	color:#666;
}

a:hover {
	background-color:#26629F;
	color:#fff;
}

h2.heading {
	font-size:24pt;
		letter-spacing: -3px;
}

div.table-plus table thead tr th,
div.table-plus table tbody tr td.this-view {
	font-weight: bold;
	font-size: 14pt;
	padding: 1em 1em 1em 1em;	
}

div.table-plus table thead tr th {
	background-color: #366999;
}

.library-description pre code {
        background: transparent;
        color: #ff9900;
}


.library-description code {
	font-size:90%;	
	color: #000;
	background-color: #F9F7F3;
	padding: 3px 3px;
}

.library-description pre {
        text-indent: -3px;
        margin: 10px;
        padding: 20px;
        overflow: auto;
        background-color: #1f1005;
        color: #ff9900;
        font-size:100%;	
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
}

.library-description p {

	margin:1em 0px;
}

.library-description {
	margin: 5px;
}

h1.app-name {
	   font-size:32pt;
	   font-weight: normal;
}

.card h3 {
	   font-weight: normal;
	   font-size: 30pt;
	   letter-spacing: -1px;
}

.main-nav li a {
		border-radius: 3px 3px 0px 0px;
		-webkit-border-radius: 3px 3px 0px 0px;
		-moz-border-radius: 3px 3px 0px 0px;
		-khtml-border-radius: 3px 3px 0px 0px;
}

.main-nav li.current a {
		text-shadow: 0 1px 0 #fff;
}